<!-- Наследуем основной шаблон от base.html -->
{% extends 'files_manager/base.html' %}

<!-- Называем Title страницы -->
{% block title %}
    Main Page
{% endblock %}

<!-- Название страницы в header -->
{% block main_page_name %}
    Main Page
{% endblock %}

<!-- Основной контент в header -->
{% block content %}
    <h1>Main Page</h1>
    <button class="btn btn-primary"><h4><a style="color:white; text-decoration:none;" href="read_hall/">Читальный зал</a></h4></button> <br>
    <div style="display:flex; flex-direction: column; border: 2px double black; border-radius: 7%; justify-content: center; align-items: center; margin: 5px; padding-bottom: 31px;">
        <H4 style="margin:3px;">Радио центр</H4>
        <div style="display:flex; justify-content: center; flex-wrap: wrap;">
            <iframe class="vidos"  src="https://www.youtube.com/embed/dNguR20iY7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin:10px"></iframe>
            <iframe class="vidos"  src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin:10px"></iframe>
            <iframe class="vidos"  src="https://www.youtube.com/embed/_KJRF4zBgQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin:10px"></iframe>
            <iframe class="vidos"  src="https://www.youtube.com/embed/zLAfTaCFXk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin:10px"></iframe>
        </div>
    </div>
{% endblock %}

