<!-- Наследуем основной шаблон от base.html -->
{% extends 'files_manager/base.html' %}

<!-- Называем Title страницы -->
{% block title %}
    New Files
{% endblock %}

<!-- Название страницы в header -->
{% block main_page_name %}
    New Files
{% endblock %}

<!-- Основной контент в header -->
{% block content %}
    <h1>New File</h1>
<div class="row">
    <div class="col-md-2 offset-md-10">
        <a href="{% url 'post' %}" class="btn btn-primary my-2">Загрузка файла на сайт</a>
    </div>
</div>
{% endblock %}

