<!-- Наследуем основной шаблон от base.html -->
{% extends 'files_manager/base.html' %}

<!-- Называем Title страницы -->
{% block title %}
    New Files
{% endblock %}

<!-- Название страницы в header -->
{% block main_page_name %}
    New Files
{% endblock %}

<!-- Основной контент в header -->
{% block content %}
<div class="row">
    <div class="col-md-2 offset-md-10">
        <a href="{% url 'post' %}" class="btn btn-primary my-2">Download File</a>
    </div>
</div>
    {% if posts %}
        {% for el in posts %}
            <div class="alert bg-cosmos-blue mt-2">
                <h6> Файл ID {{ el.id }}<h5> Описание: {{ el.comment }}</h5>
                    <a href="{{el.upload.url}}" class="btn btn-primary my-2" download> {{ el.upload.name|slice:"20:" }} </a>
                    <form method="post" action="{% url 'delete_f' el.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary my-2" > delete</button>
                    </form>

                </h6>
                <p> {{ el.post }}  </p>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="text-center mt-10">Мы дегроды и не делаем никаких файлов!</h1>
    {% endif %}
{% endblock %}

