<!-- Наследуем основной шаблон от base.html -->
{% extends 'files_manager/base.html' %}

<!-- Называем Title страницы -->
{% block title %}
    {{ title }}
{% endblock %}

<!-- Название страницы в header -->
{% block main_page_name %}
    Task
{% endblock %}

<!-- Основной контент в header -->
{% block content %}
        <div class="row">
            <div class="col-md-2 offset-md-10">
                <a href="{% url 'create_task' %}" class="btn btn-primary my-2">Create Task</a>
            </div>
        </div>
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-info mt-2">
                <h6> Task ID {{ el.id }}<h5> {{ el.title }}</h5></h6>
                <p>{{ el.task }}  </p>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="text-center mt-10">Мы дегроды и не делаем никаких задач!</h1>
    {% endif %}
{% endblock %}

